body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	user-select: none;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
    /*background: rgb(56,56,56);*/
    /*background: linear-gradient(355deg, rgba(56,56,56,1) 20%, rgba(34,34,34,1) 82%);*/
}

.uk-navbar-container-one{
	background-color: #0e0e0e;
}

.secondary-info-card{
	background-color: #3a3a3a;
	-webkit-box-shadow: 1px 0px 30px 15px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 1px 0px 30px 15px rgba(0, 0, 0, 0.35);
	box-shadow: 1px 0px 30px 15px rgba(0, 0, 0, 0.35);
}